body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height:60 cap;
  }
  .card {
    background-color: rgb(138, 210, 237);
    border-radius: 1px;
    padding: 40px;
    text-align: center;
    max-width: 300px;
    width: 90%;
  }
  .card img {
    width: 120px;
    height: 120px;
    border-radius: 3px;
    object-fit: cover;
    margin: 15px 15px;
  }
  .card a {
    display: block;
    margin: 8px 0;
    color: #0077b5;
    text-decoration: none;
  }
  .card a:hover {
    text-decoration: underline;
  }
  
